<h3>Welcome {{ user }}</h3>
<a href="/logout">Logout</a>
<!DOCTYPE html>
<html>
<head>
    <title>Cloud Leak Analyzer</title>
</head>
<body>

<h2>Cloud Leak Analyzer</h2>

<form method="POST">
    Enter Bucket Name:
    <input type="text" name="bucket" required>
    <button type="submit">Scan</button>
</form>

<h3>Results:</h3>
<ul>
    {% for r in results %}
        <li>{{ r }}</li>
    {% endfor %}
</ul>

<h3>Scan History:</h3>
<ul>
    {% for h in history %}
        <li><b>{{ h[0] }}</b> → {{ h[1] }}</li>
    {% endfor %}
</ul>

</body>
</html>
